<!-- hard code in fixed length as 26, need to fetch data from components -->
<div class="p">
  <h3>Select type of chart</h3>
  <ng-select [items]="typeSelection">
  </ng-select>
</div>

<div *ngIf="chartData.length === 27">  
  <div class="chart-container" style="position:relative; height:35vh; width:70vw; margin:0 auto;">
    <div style="display: block">
      <canvas baseChart
              [datasets]="chartData"
              [labels]="timePeriods"
              [options]="barChartOptions"
              [legend]="chartLegend"
              [chartType]="chartType[0]">
      </canvas>
    </div>
  </div>
</div>
