<!-- hard code in fixed length as 26, need to fetch data from components -->
<!-- <div *ngIf="chartData.length === 26">  
  <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="chartData"
              [labels]="timePeriods"
              [options]="barChartOptions"
              [legend]="chartLegend"
              [chartType]="chartType">
      </canvas>
    </div>
  </div>
</div> -->


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<select ng-model="selectedName" ng-options="x for x in names">
</select>

</div>

<script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
    $scope.names = ["Emil", "Tobias", "Linus"];
  });
</script>